@import '../util/branding.scss';

.dm-server-form {
  padding: 10px;
  background-color: $dark-grey;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    background-color: rgb(114, 118, 125);
    color: white;
    border: none;
    height: 70px;
    width: 500px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 22px;
    padding-left: 20px;
  }

  p {
    margin-top: 10px;
  }
}