@import '../util/branding.scss';

.server-main {
  display: flex;
  height: 100vh;
  width: 100%;
  color: white;
  position: relative;
  background-image: url(https://discordapp.com/assets/c486dc65ce2877eeb18e4c39bb49507a.svg);
  background-color: rgb(54, 57, 63);
  background-size: cover;

  .edit-server-icon {
    position: absolute;
    transform: translateX(104px);
  }
}

.server-index {
  width: 100%;
}


