@import '../util/branding.scss';

$margin-between: 15px;

.server-index {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 100%;

  &::-webkit-scrollbar {
    background-color: $dark-gray;
  }

  &::-webkit-scrollbar-thumb {
    background: $black;
    border-radius: 10px;
  }

  h1 {
    margin-top: 100px;
    height: 40px;
    // margin-bottom: 150px;
    margin-bottom: 30px;
  }

   p {
     margin-bottom: 10px;
   }
}

.server-index-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
}

.server-index-list-item {
  height: 292px;
  width: 256px;
  border: 1px solid white;
  margin-right: $margin-between;
  margin-bottom: $margin-between;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    height: 50%;
  }
}

.server-index-button {
  width: 100%;
}

.server-item-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;

  button {
    border-radius: 5px;
    min-width: 80px;
    border: none;
  }
}

.join-server-button {
  background-color: $blue;
}

.leave-server-button {
  background-color: $red;
}
