@import '../util/branding.scss';

.chatroom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .message-list {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

      &::-webkit-scrollbar {
        width: 8px;
        background-color: $dark-gray;
        border-radius: 50px;
      }

      &::-webkit-scrollbar-thumb {
        background: $black;
        border-top: 1px solid rgb(54, 57, 63);;
        border-bottom: 1px solid rgb(54, 57, 63);;
        border-radius: 50px;
      }

    .message-item {
      border-top: 1px solid rgba(255, 255, 255, 0.06);
      width: 90%;
      height: 100px;
      padding: 20px 0;

      .message-info {
        display: flex;
        margin-bottom: 6px;

        .message-item {
          font-size: 10px;
          color: rgba(255, 255, 255, 0.7);
        }
      }

      .message-username {
        text-transform: capitalize;
        margin-right: 10px;
      }
    }

    .message-text {
      font-weight: 300;
      font-size: 14px;
    }
  }
}

.message-form-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  
  .message-form {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    width: 90%;
    padding-top: 17px;
    padding-bottom: 23px;

    textarea {
      box-sizing: border-box;
      width: 100%;
      max-height: 168px;
      padding: 15px;
      margin: 2px;
      border: none;
      border-radius: 3px;
      font-size: 14px;
      background-color: rgba(114, 118, 125, 0.3);
      color: rgba(255, 255, 255, 0.7);
      resize: none;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: $light-black;
        border-radius: 10px;
      }
    }
  }
}