// light-black, black, blue, and magpie colors from:
// https://discordapp.com/branding

$white: rgb(236, 232, 232);
$dark-white: rgb(202, 199, 199);

$blue: rgb(114, 137, 218);
$magpie: rgb(153, 170, 181);
$grey: rgba(146, 144, 144, 0.8);
$gray: $grey;
$dark-grey: rgb(47, 49, 54);
$dark-gray: $dark-grey;

$light-black: rgb(44, 47, 51);
$black: rgb(35, 39, 42);
$dark-black: rgb(21, 21, 21);