// $blue, $light-black, $black colors from:
// https://discordapp.com/branding

$white: rgb(236, 232, 232);
$dark-white: rgb(202, 199, 199);

$blue: #7289DA;
$grey: rgba(146, 144, 144, 0.8);
$gray: $grey;

$light-black: #2C2F33;
$black: #23272A;
$dark-black: rgb(21, 21, 21);