body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

a:focus {
  outline: none;
}
