@import './util/branding.scss';

$input-height: 40px;
$main-width: 82%;

$small-font-size: 13.5px;
$small-margin: 10px;

.main-session-message {
  display: flex;
  color: $white;
  font-size: 30px;
  justify-content: center;
  margin-top: 35px;
  user-select: none;
  margin-bottom: 15px;
  font-weight: 150;
}

.secondary-session-message {
  display: flex;
  justify-content: center;
  color: $grey;
  font-size: 16px;
  user-select: none;
}

.other-form-message {
  margin-right: 5px;
  color: $grey;
  font-size: $small-font-size;
  user-select: none;
  display: flex;
  margin: 0 auto;
  width: $main-width;
}

.other-signup-form-link {
  color: $blue;
  font-size: $small-font-size;
  margin-left: 5px;
  // margin-bottom: 20px;
}

.other-login-form-link {
  color: $blue;
  font-size: $small-font-size;
  margin-left: 5px;
  display: flex;
  width: $main-width;
  margin: 0 auto;
}

.guest-login-link {
  display: flex;
  width: $main-width;
  margin: 0 auto;
}

.guest-login-link button {
  font-size: $small-font-size;
  color: $blue;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.session-form {
  width: 480px;
  display: flex;
  flex-direction: column;
  background-color: $light-black;
  border-radius: 5px;
  padding-bottom: 35px;
}

.session-form label {
  color: $dark-white;
  display: flex;
  flex-direction: column;
  width: $main-width;
  margin: 15px auto 0 auto;
  font-size: $small-font-size;
}

.session-form label input {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-self: center;
  height: $input-height;
  border-radius: 3px;
  background-color: $black;
  padding-left: 10px;
  border: 1px solid $dark-black;
  margin: $small-margin 0;
  font-size: 17px;
  font-weight: 300;
  color: white;
  caret-color: white;
}

.session-form label input:hover {
  border: 1px solid black;
}

.session-form label input:focus {
  border: 1px solid $blue;
}

.session-form form > input {
  width: $main-width;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto $small-margin auto;
  background-color: $blue;
  border: 1px solid $blue;
  height: $input-height;
  color: white;
  font-size: 16px;
}

.session-errors {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  color: white;
}
