@import './util/branding.scss';

.splash-message {
  box-sizing: border-box;
  width: 810px;
  height: 241px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  h3 {
    color: white;
    font-size: 33px;
    // margin-bottom: 10px;
    padding-bottom: 14px;
  }

  p {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 14px;
  }
}