@import './util/branding.scss';

.splash-background {
  background-color: $black;
}

.splash-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.splash-images-container {
  width: 2000px;
  height: 650px;
  display: flex;
  position: relative;

  img {
    position: absolute;
  }
}

.monitor {
  top: 129px;
  left: 710px;
}

.disc {
  top: 495px;
  left: 1423px;
}

.square-phone {
  top: 343px;
  left: 452px;
}

.round-phone {
  top: 348px;
  left: 598px;
}

.game-controller {
  top: 489px;
  left: 745px;
}

.laptop {
  top: 249px;
  left: 996px;
}

.headphones {
  top: 233px;
  left: 1288px;
  height: 200px;
}
